.clickable{
    cursor: pointer !important;
}


@media only screen and (min-width: 700px){
    .card-img-top {
        width: 100%;
        height: 50vw;
        object-fit: cover;
    }
}

@media only screen and (min-width: 992px){
.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}
}

.custom-navbar{
    display: none;
}

.button-spacing{
    margin-top:5px;
    margin-right:10px;
}

#search-button.button-spacing{
    padding: 8px;
}

